body, html {
    margin: 0;
    padding: 0;
    
  }

  body{
    

    background-image: url("/SAE303/assets/img/hero-bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%; /* Assurez-vous que le corps et le HTML ont une hauteur de 100% */

    
  }
  
  .container {
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    align-items: flex-start;
    
  }
  
  .contenu {
    display: flex;
    margin-left: 17px; 
  }
  
  .explicatif {
    width: 40%;
    padding: 20px;
    margin-top: 8%;
    margin-right: 28%; 
  }
  
  
  .droite {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .entete {
    margin-top: 50%;
    background-color: #E5BD55;
    width: 130%;
    border-radius: 10px 10px 0 0;
    font-size: 3vh;
    font-family: 'Fira Sans Condensed', sans-serif;
    height: 10vh;
    border-bottom: 1px solid #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .carte {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 10px #e4e4e4;
    width: 130%;
    padding: 40px 60px 40px 60px ;
    border-radius: 0 0 10px 10px;
    
  }
  
  .connect{
    opacity: 70%;
    color: #1d1d1d;
  }

  .connect:hover{
    opacity: 100%;
    text-decoration: underline ;
    
  }

  a.mx-auto.mt-auto{
    color: #1d1d1d;
  }

  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #3E44C0;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1s linear infinite;
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }